@use '@app/styles/_variables' as *;
@use '@app/styles/_mixins' as *;
@use 'sass:map';

.counter {
  font-family: map.get($caption, font-family);
  font-weight: map.get($caption, font-weight);
  font-size: map.get($caption, font-size);
  line-height: map.get($caption, line-height);
  background-color: $tag-plus;
  border-radius: 20px;
  display: inline-flex;
  padding: 8px 13px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.show_skills {
@include body-text;
@include border-radius;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  // left: -50px;
  // bottom: 50%;
  z-index: 3;
  // position: absolute;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  padding: 3px 5px 3px 20px;
  background-color: rgba(222, 235, 197, 1);
  box-shadow:0 0 4px 1px #00000054;
  font-size: 14px;
}

.show_skills{
  list-style: revert;
}

.list_item {
 white-space: nowrap;
 vertical-align: middle;
 list-style: revert;
}
